* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
  }
  

  body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  li{
	text-align: left;
  }

  button{
    margin: 10px 0px;

  }

  button.disabled {
	pointer-events: none;
	opacity: 0.5; /* pour indiquer visuellement que le bouton est désactivé */
	cursor: default; /* pour empêcher le changement de curseur au survol */
  }



  .container, .event {
	display:flex;
	flex-direction: column;

	align-items: center;
	margin:auto;
	text-align: center;
	
  }
  
  /* Style the footer */
  .footer {
	margin:auto;
	padding: 10px;
  }

  .modal {
	  display: none;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.4);
	  z-index: 9999;
	}
  
	.modal-container {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  padding: 20px;
	  background-color: black;
	  border-radius: 5px;
	  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	  color: #E63C35;
	}
  
	.modal-close {
	  top: 10px;
	  right: 10px;
	  cursor: pointer;
	}
  
	.logo-img {
	  width: 15%;
	  margin-right: 20px;
	}

  .game{
	text-align: center;
    display:none;
	z-index: 2;
	background-color: #e6e6e6;
	padding : 50px 200px;
	border-radius: 25px;
  }
  
  .country-choice {
	display: none;
	text-align: center;
	z-index: 2;
	background-color: #e6e6e6;
	padding : 50px 200px;
	border-radius: 25px;
  }
  
  .country-buttons {
    display:flex;
	justify-content: center; 
	align-items: center;
	width: 100%;
  }

  .country-card {
	text-align: center;
	padding : 10px;
  }

  .country-card:hover {
	transform: scale(1.1);
	transition: 0.1s ease-in-out;
  }
  
  
  .close-country-button {
	border: none;
	background: none;
	cursor: pointer;
  }
  
  .flag {
	width: 100px;
  }

  .virus-choice {
	display: none;
	text-align: center;
	background-color: #e6e6e6;
	padding : 50px 200px;
	border-radius: 25px;
	z-index: 2;
  }
  
  .virus-buttons {
    display:flex;
	justify-content: center; 
	align-items: center;
	width: 100%;
	
  }

  .virus-card {
	text-align: center;
	padding : 10px;
  }

  .virus-card:hover{
	transform: scale(1.1);
	transition: 0.1s ease-in-out;
  }
  
  .close-virus-button {
	border: none;
	background: none;
	cursor: pointer;
  }
  
  .virus {
	width: 100px;
  }

  .guerisonContainer{
	display:none;
  }
  
  .depistageContainer{
	display:none;
  }

  .container canvas{
	margin : 50px 0px;
  }

  .stats-container{
	display:none;
	background-color: #e6e6e6;
	width: 100vw;
	z-index:4;
  }

  .viralvariable{
    margin: 0;
    background-color: #364041;
    position: relative;
    overflow: hidden;
    display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
  
  }
  
  .montagne {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(assets/background.png) no-repeat;
    background-size: cover;
    background-position: center;
	z-index: 0;
  
  }

  .nextRound{
	margin-bottom : 15px;
  }

  .eventName{
	padding-top: 20px;
	text-transform: uppercase;
	font-weight: 600;
	font-size : 1.2rem;
  }

  span{
	font-weight: 600;
  }

  .stats-btn{
	margin-top: 20px;
	z-index:2;
  }

  .play-again{
	z-index: 2;
  }